.content {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #1C1A17;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.barbers_list {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

.title_container p {
  color: #988C81;
}

.title1 {
  color: #EFECE7;
  font-family:'Playfair Display', serif;
}

.title2 {
  color: #D99D26;
}

.form {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.form label {
  color: #988C81;
  margin-right: 0.825rem;
}

.form input {
  color: #D99D26;
  border: 1pix solid #988C81;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 5px;

  height: 30px;

  background-color: #2C2926;
}

.inputs_container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register_barber_button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  border-radius: 10px;
  border-width: 1px;
  height: 2rem;

  color: #1C1A17;
  background-color: #c5a059;
  border-color: #D99D26;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  cursor: pointer;
  text-align: center;

  margin-top: 1rem;
}

.create_specialty_button:hover {
  color: #1C1A17;
  background-color: #D99D26;
}

.section2 {
  padding-top: 2rem;
}

@media screen and (max-width: 932px){
  .barbers_list {
    flex-direction: column;
  }
}