.container {
  min-height: 100vh;
  background-color: #1C1A17;
}

.content {
  background-color: #1C1A17;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

.title_container p {
  color: #988C81;
}

.title1 {
  color: #EFECE7;
  font-family:'Playfair Display', serif;
}

.title2 {
  color: #D99D26;
}
