.container {
  background-color: #110F0E;
  padding-top: 2rem;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

.title_container p {
  color: #988C81;
}

.title1 {
  color: #EFECE7;
  font-family:'Playfair Display', serif;
}

.title2 {
  color: #D99D26;
}

.section_title {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
}

.circle_background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D99D26;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.section_title_text {
  font-family: 'Playfair Display', serif;
  color: #EFECE7;
  font-size: 15px;
}

.section1 {
  height: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section1_content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  border: 1px solid #E5E7EB;
  background-color: #1C1A17;
  border-radius: 0.75rem;
  padding: 1.5rem;

  box-sizing: border-box;
  flex-wrap: wrap;
}

.section2 {
  height: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.arrow_button {
border: 1px solid #333;
border-radius: 16px;
color: #c5a059;
cursor: pointer;

transition: all 0.3s ease;
}

.arrow_button:hover {
  border-color: #c5a059;
  background-color: #222;
}

.arrow_button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  filter: grayscale(1);
}

.icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
}


.section3 {
  height: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section4 {
  height: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section5 {
  height: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}