.section1 {
  height: 100%;
  margin-bottom: 1rem;
}

.section_title {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
}

.circle_background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D99D26;
  color: #1C1A17;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.section_title_text {
  font-family: 'Playfair Display', serif;
  color: #EFECE7;
  font-size: 15px;
}

.barbers_list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  border: 1px solid #E5E7EB;
  background-color: #1C1A17;
  border-radius: 0.75rem;
  padding: 1.5rem;

  box-sizing: border-box;
  flex-wrap: wrap;
}