.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  padding: 1rem;
  padding-top: 2rem;

  background-color: #1C1A17;
}

.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-family: 'Cinzel', serif; /* Fonte serifada clássica */
  font-weight: 700;
  font-size: 2.5rem;
  color: #c5a059; /* Um tom de dourado envelhecido */
  text-transform: uppercase;
  letter-spacing: 0.15em; /* Espaçamento extra entre letras */
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  cursor: pointer;

  /* Detalhe sutil de hover */
  &:hover {
    color: #e2c285;
    transition: color 0.3s ease;
  }
}

.button_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  border-radius: 10px;
  border-width: 1px;
  height: 2rem;

  color: #D99D26;
  background-color: #1C1A17;
  border-color: #D99D26;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  cursor: pointer;
  text-align: center;
}

.button_container:hover {
  color: #1C1A17;
  background-color: #D99D26;
}

.user {
  color: #D99D26;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.register_button {
  display: flex;
  align-items: center;
  padding: 1rem;

  border-radius: 10px;
  border-width: 1px;
  height: 2rem;

  color: #1C1A17;
  background-color: #D99D26;
  border-color: #1C1A17;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  cursor: pointer;
  text-align: center;
}