.card_container {
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #333;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  
  font-family: inherit;
  animation-duration: 300ms;
  background-color:  #1a1a1a;

}

.card_container:hover {
  border: 1px solid rgb(217, 157, 38);
}

.barber_name {
  color: #c5a059;
}

.barber_age {
  color: #988C81;
  font-size: 0.75rem;
  line-height: 1rem;

  margin-top: 0.125rem;

  box-sizing: border-box;
}

.specialty_container {
  gap: 0.375rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.25rem;

  box-sizing: border-box;
}

.specialty {
  color: #D99D26;
  background-color: #D99D261A;
  font-size: 10px;
  border: 1px solid #D99D26;
  border-radius: 9999px;

  padding: 0.125rem 0.5rem;
}

.selected {
  border-color: #c5a059;
  background-color: rgba(197, 160, 89, 0.1);
  box-shadow: 0 0 10px rgba(197, 160, 89, 0.2);
}

.avatar_container {
  background-color: #222;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specialties_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.875rem;

  margin-top: 1rem;
}